.card {
    border: 1px solid grey;
    padding: 10px;
    margin-bottom: 10px;
    transition: background-color 0.3s ease;
    width: 25vw;
}

.inputContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.hovered {
    background-color: #f5cbcb;

}

.container:focus {
    outline: none;
}